[submodule "inference/s3_triggered/trainml_model"]
	path = inference/s3_triggered/trainml_model
	url = https://github.com/trainML/simple-tensorflow-classifier.git
[submodule "endpoint/simple-classifier"]
	path = endpoint/simple-classifier
	url = https://github.com/trainML/simple-classifier-endpoint.git
[submodule "training/git-training-workflow"]
	path = training/git-training-workflow
	url = https://github.com/trainML/git-workflow-example.git
